# Server
PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/sweetcrumb

# Session secret - change this to a long random string in production
SESSION_SECRET=change_this_to_a_long_random_secret_string

# Admin account created by the seed script
ADMIN_NAME=Store Admin
ADMIN_EMAIL=admin@sweetcrumb.com
ADMIN_PASSWORD=Admin@12345

# Store settings
STORE_NAME=Sweet Crumb Artisan Bakery
CURRENCY_SYMBOL=Rs.